@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*, *::before, *::after {
  box-sizing: border-box;
}

p {
  font-size: 15px;
}

h5 {
  font-size: 18px;
  padding-top: 10px;
}

h1 {
  font-size: 20px;
  margin-top: 0px;
}

.notFocused {
  opacity: 50 !important;
}

textarea:disabled {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 0;
  color: #444;
  opacity: 100;
  background-color: transparent;
  overflow-y: scroll;
  resize: none;
  transition: transform 1s;
  caret-color: green;
  cursor: default;
  margin-left: 3%;
  top: 147px; 
}


.containerW {
  width: 90%;
  /* Trying this instead of 600px so viewing the interface never requires scrolling */
  height: calc(100vh - 360px); 
  overflow: hidden;
}

.backdropW, .textareaW {
  width: 95%;
  height: calc(100vh - 360px - 147px); 
}

.highlights, .textareaW, .textareaP {
  padding: 10px;
  font: 15px/18px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.containerW {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
  background-image: url("../../assets/interface/right_writer.png"), url("../../assets/interface/left.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left top;
  background-size: 1200px;
}

.backdropW {
  display: block;
  position: absolute;
  z-index: 1;
  border: 2px solid #685972;
  background-color: #fff;
  overflow: auto;
  overflow-y: scroll;
  pointer-events: none;
  transition: transform 1s;
  margin-left: 3%;
  top: 147px; 
}

.highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  color: transparent;
}

.textareaW {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #7f6363;
  border-radius: 0;
  color: #444;
  background-color: transparent;
  overflow-y: scroll;
  resize: none;
  transition: transform 1s;
  caret-color: green;
  outline: none;
  margin-left: 3%;
  top: 147px; 
}

.containerP {
  width: 95%;
  height: calc(100vh - 360px); 
  overflow: hidden;
}

.backdropP, .textareaP {
  width: 95%;
  height: calc(100vh - 360px - 147px); 
}

.containerP {
  display: block;
  margin: 0 auto;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
  background-image: url("../../assets/interface/right_peek.png"), url("../../assets/interface/left.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left top;
  background-size: 1200px;
}

.backdropP {
  display: block;
  position: absolute;
  z-index: 1;
  border: 2px solid #685972;
  background-color: #fff;
  overflow: auto;
  overflow-y: scroll;
  pointer-events: none;
  transition: transform 1s;
  margin-left: 3%;
  top: 147px; 
}

.textareaP {
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border: 2px solid #74637f;
  border-radius: 0;
  color: #444;
  background-color: transparent;
  overflow-y: scroll;
  resize: none;
  transition: transform 1s;
  caret-color: green;
  margin-left: 3%;
  top: 147px; 
}


.vW {
  border-left: 2px solid black;
  height: 100px;
}

.vO {
  border-left: 2px solid blue;
  height: 100px;
}

.vC {
  border-left: 2px solid green;
  height: 100px;
}

mark {
  border-radius: 3px;
  color: transparent;
  background-color: #b1d5e5;
}

.progressbar {
  width: 90%;
  margin: auto;
  border: none;
  background: #f1f1f1;
}
.progressbar .inner {
  height: 3px;
  animation: progressbar-countdown;
  /* Placeholder, this will be updated using javascript */
  animation-duration: 40s;
  /* We stop in the end */
  animation-iteration-count: 1;
  /* Stay on pause when the animation is finished finished */
  animation-fill-mode: forwards;
  /* We start paused, we start the animation using javascript */
  animation-play-state: paused;
  /* We want a linear animation, ease-out is standard */
  animation-timing-function: linear;
}
@keyframes progressbar-countdown {
  0% {
    width: 100%;
    background: #9e9e9e;
  }
  100% {
    width: 0%;
    background: #9e9e9e;
  }
}

.textareaAnimate {
  animation-duration: 3s;
  animation-name: textarea-border-animation;
  animation-iteration-count: 1;
}

@keyframes textarea-border-animation {
  from {border: 2px solid #58D68D;}
  to {border: 2px solid #7f6363;}
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: none;
}

.whiteMask {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  z-index: 3;
  background-color: white;
  top: 0;
  left: 0;
}